* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: rgb(245, 247, 251);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    background: rgb(77, 91, 158);
}

.start,
.quiz {
    height: 550px;
    width: 550px;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(245, 247, 251);
    flex-direction: column;
    margin: auto;
}

.start {
    justify-content: center;
}

.start h1 {
    color: rgb(41, 50, 100);
    font-family: Karla;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto 2rem;
}

.start button {
    padding: .5em 2em;
    margin: 0 auto;
    border-radius: 15px;
}

.quiz {
    justify-content: center;
    padding: 2em;
}

.quiz button {
    padding: .5em 2em;
    font-size: 10.24px;
    border-radius: 10px;
}

.question-container {
    display: flex;
    flex-direction: column;
    border-bottom: 0.79px solid rgb(219, 222, 240);
    margin-bottom: 1em;
}

.question-container h3 {
    color: rgb(41, 50, 100);
    font-family: Karla;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}

.answer-container {
    display: flex;
    gap: .75em;
}

.answer-container > * {
    display: flex; 
    text-align: center;
    align-items: center;
}
  
.radio-label {
    color: rgb(41, 50, 100);
    font-family: Inter;
    font-size: .625rem;
    font-weight: 500;
    background-color: transparent; 
    border: 1px solid #293264;
    border-radius: 10px; 
    cursor: pointer; 
    padding: .25em .5em;
    margin: 1em 0;
    user-select: none;
  }
  
input[type="radio"] {
    display: none; 
}

.score-container {
    display: flex;
    align-items: center;
    gap: .625em;
    margin: 0 auto;
}

.score {
    margin: 0;
    color: rgb(41, 50, 100);
    font-family: Inter;
    font-size: .75rem;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
}

@media (max-width: 480px) {

    body {
        font-size: 1.25rem;
    }

    .start,
    .quiz {
        height: 100vh;
        width: 100vw;
    }

    .start h1 {
        font-size: 2rem;
    }

    .start button {
        font-size: 1.5rem;
    }

    .quiz h3 {
        font-size: 1rem;
    }

    .quiz {
        padding: .5em;
    }

    .quiz button {
        font-size: 1rem;
    }

    .radio-label {
        font-size: .75rem;
    }

    .score {
        font-size: 1rem;
    }
}